body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 80px;
    background: grey;
}

h1{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Audiowide', cursive;
    font-size: 40px;
    font-weight: bold;
    z-index: 2;
    cursor: pointer;
}

.brackets{
    position: absolute;
    margin-top: -20px;
    margin-left: 60px;
    font-size: 100px;
    font-weight: bolder;
    color: white;
    z-index: 1;
    color: #d01010;
    cursor: pointer;
}

h2 span{
    color: #5e0000;
}

header p{
    position: absolute;
    font-family: 'Audiowide', cursive;
    margin-top: 35px;
    margin-left: 300px;
    color: grey;
}

header p:hover{
    color: #5c3636;
    transition: 00.5s
}

ul{
    float: right;
}

li{
    display: inline-block;
    padding: 15px 30px;
}

a{
    text-decoration: none;
    color: #5e0000;
    font-family: 'Audiowide', cursive;
    font-weight: bold;
    font-size: 20px;
}

a:hover{
    color: #d01010;
    transition: 0.5s;
}