*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./Images/background.jpg);
    background-size: cover;
    background-position: center;
}

.left-logo {
    color: rgb(208,16,16);
    font-size: 120px;
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: 120px;
}

.right-logo {
    color: rgb(94,0,0);
    font-size: 120px;
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: 190px;
}

.qa-logo {
    color: lightgray;
    position: fixed;
    top: 140px;
    cursor: pointer;
    position: fixed;
    top: 110px;
    left: 120px;
}

/*Navbar*/
 .navbar {
     width: 85%;
     margin: auto;
     padding: 35px 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

/*Options in the Navbar*/
 .navbar ul li {
     list-style: none;
     display: inline-block;
     margin: 0 20px;     
     position: relative;      
 }

 /*colors in the Navbar*/
 .navbar ul li a {
     text-decoration: none;
     color: white;
     text-transform: uppercase;
     position: relative;
     top: 90px;
 }


 /*creating animation in the Navbar*/
 .navbar ul li::after {
     content: '';
     height: 3px;
     width: 0%;
     background-color: rgb(208,16,16);
     position: absolute;
     left: 0;
     bottom: -95px;
     transition: 0.5s;
 }

 .navbar ul li:hover::after {
     width: 100%;
 }

 .content {
     width: 100%;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     text-align: center;
     color: white;
 }

 .content h1 {
     font-size: 70px;
     margin-top: 80px;
 }

 .content p {
     margin: 20px auto;
     font-weight: 100;
     line-height: 25px;
 }

 button {
     width: 200px;
     padding: 15px 0;
     text-align: center;
     margin: 20px 10px;
     border-radius: 25px;
     font-weight: bold;
     border: 2px solid rgb(208,16,16);
     background: transparent;
     color: white;
     cursor: pointer;
     position: relative;
     overflow: hidden;
 }

 .buttoncover {
     width: 0%;
     height: 100%;
     position: absolute;
     background: rgb(208,16,16);
     border-radius: 25px;
     bottom: 0;
     left: 0;
     z-index: -1;
     transition: 0.5s;
 }

 button:hover .buttoncover {
     width: 100%;
 }
